<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="style4.css">
</head>
<body>
	<h3>ERROR 404!</h3>
	<p>This file didnt was find</p>
	<a href="/">Вернуться на главную</a>
</body>

</html>