<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Main Page</h1>
	<a href="/list">list Page 1</a>
	<a href="/list2">list Page 2</a>
</body>

</html>