<!DOCTYPE html>
<html>
<head>
	<title>List Page</title>
	<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
	<h3>list Page 1</h3>
	
	<ul>
		<% for(var i=0; i<users.length;i++) {%>
		<li>
			<strong>Имя:</strong> <%= users[i].name %>,  
			<strong>Возраст:</strong> <%= users[i].age %>, 
			<strong>Страна:</strong> <%= users[i].country %>
		</li>
		<%} %>
	</ul>
	<p><a href="/">Вернуться на главную</a></p>
	
</body>
</html>